@page "/MainOrganization/CreateOrganization"
@inject IPurchasingActOfRestaurantClient PurchasingClient
@inject NavigationManager NavigationManager
@using System.Threading
@using Company.AutomationOfThePurchasingActOfRestaurant.App.Infrastructure.Validators
@using Company.AutomationOfThePurchasingActOfRestaurant.App.Infrastructure.Validators.RequestModel
@using Company.AutomationOfThePurchasingActOfRestaurant.Client
@using System.Text.Json

<PageTitle>Создание Организации</PageTitle>

<h3>Создание Организации</h3>

<EditForm Model="entity" OnValidSubmit="HandleSubmit">
    <FluentValidationValidator Validator="validationRules" />

    <div class="form-group">
        <label for="Name">Название:</label>
        <InputText id="Name" @bind-Value="entity.Name" class="form-control" />
        <ValidationMessage For="@(() => entity.Name)" />
    </div>

    <div class="form-group">
        <label for="Address">Адрес:</label>
        <InputText id="Address" @bind-Value="entity.Address" class="form-control" />
        <ValidationMessage For="@(() => entity.Address)" />
    </div>

    <div class="form-group">
        <label for="StructuralUnit">Структурное подразделение:</label>
        <InputText id="StructuralUnit" @bind-Value="entity.StructuralUnit" class="form-control" />
        <ValidationMessage For="@(() => entity.StructuralUnit)" />
    </div>

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-success">Добавить</button>
        <button type="button" class="btn btn-danger" @onclick="Cancel">Отмена</button>
    </div>
</EditForm>

@code {
    private OrganizationRequest entity = new();
    private OrganizationRequestValidator validationRules = new OrganizationRequestValidator();
    private CancellationTokenSource cancellationTokenSource = new CancellationTokenSource();

    protected override async Task OnInitializedAsync()
    {
    }

    private async Task HandleSubmit()
    {
        var validationResult = validationRules.Validate(entity);
        if (validationResult.IsValid)
        {
            var newEntity = await PurchasingClient.AddOrganizationAsync(entity, cancellationTokenSource.Token);
            NavigationManager.NavigateTo("/MainOrganization");
        }
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/MainOrganization");
    }
}