@page "/MainMerchandisePrice/EditMerchandisePrice/{Id:guid}"
@inject IPurchasingActOfRestaurantClient PurchasingClient
@inject NavigationManager NavigationManager
@using System.Threading
@using Company.AutomationOfThePurchasingActOfRestaurant.App.Infrastructure.Validators.ResponceModel
@using Company.AutomationOfThePurchasingActOfRestaurant.Client
@using System.Text.Json

<PageTitle>Редактирование цены товара</PageTitle>

<h3>Редактирование цены товара</h3>

<EditForm Model="entity" OnValidSubmit="HandleSubmit">
    <FluentValidationValidator Validator="validationRules" />

    <div class="form-group">
        <label for="CostPerUnit">Цена за единицу:</label>
        <InputNumber id="CostPerUnit" @bind-Value="entity.CostPerUnit" class="form-control" />
        <ValidationMessage For="@(() => entity.CostPerUnit)" />
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-success">Добавить</button>
        <button type="button" class="btn btn-danger" @onclick="Cancel">Отмена</button>
    </div>
</EditForm>

@code {
    [Parameter] public Guid Id { get; set; }
    private MerchandisePriceResponseModel entity = new();
    private MerchandisePriceResponseModelValidator validationRules = new MerchandisePriceResponseModelValidator();
    private CancellationTokenSource cancellationTokenSource = new CancellationTokenSource();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            entity = await PurchasingClient.GetMerchandisePriceByIdAsync(Id, cancellationTokenSource.Token);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Ошибка при получении цены товара: {ex.Message}");
            NavigationManager.NavigateTo("/MainMerchandisePrice");
        }
    }

    private async Task HandleSubmit()
    {
        var validationResult = validationRules.Validate(entity);
        if (validationResult.IsValid)
        {
            await PurchasingClient.UpdateMerchandisePriceAsync(entity, cancellationTokenSource.Token);
            NavigationManager.NavigateTo("/MainMerchandisePrice");
        }
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/MainMerchandisePrice");
    }
}