@page "/MainOrganization/EditOrganization/{Id:guid}"
@inject IPurchasingActOfRestaurantClient PurchasingClient
@inject NavigationManager NavigationManager
@using System.Threading
@using Company.AutomationOfThePurchasingActOfRestaurant.App.Infrastructure.Validators.ResponceModel
@using Company.AutomationOfThePurchasingActOfRestaurant.Client
@using System.Text.Json

<PageTitle>Редактирование Поставщика</PageTitle>

<h3>Редактирование Поставщика</h3>

<EditForm Model="entity" OnValidSubmit="HandleSubmit">
    <FluentValidationValidator Validator="validationRules" />

    <div class="form-group">
        <label for="Name">Название:</label>
        <InputText id="Name" @bind-Value="entity.Name" class="form-control" />
        <ValidationMessage For="@(() => entity.Name)" />
    </div>

    <div class="form-group">
        <label for="Address">Адрес:</label>
        <InputText id="Address" @bind-Value="entity.Address" class="form-control" />
        <ValidationMessage For="@(() => entity.Address)" />
    </div>

    <div class="form-group">
        <label for="StructuralUnit">Структурное подразделение:</label>
        <InputText id="StructuralUnit" @bind-Value="entity.StructuralUnit" class="form-control" />
        <ValidationMessage For="@(() => entity.StructuralUnit)" />
    </div>

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-success">Сохранить</button>
        <button type="button" class="btn btn-danger" @onclick="Cancel">Отмена</button>
    </div>
</EditForm>

@code {
    [Parameter] public Guid Id { get; set; }
    private OrganizationResponseModel entity = new();
    private OrganizationResponseModelValidator validationRules = new OrganizationResponseModelValidator();
    private CancellationTokenSource cancellationTokenSource = new CancellationTokenSource();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Получаем данные поставщика по Id
            entity = await PurchasingClient.GetOrganizationByIdAsync(Id, cancellationTokenSource.Token);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Ошибка при получении поставщика: {ex.Message}");
            NavigationManager.NavigateTo("/MainOrganization");
        }
    }

    private async Task HandleSubmit()
    {
        var validationResult = validationRules.Validate(entity);
        if (validationResult.IsValid)
        {
            await PurchasingClient.UpdateOrganizationAsync(entity, cancellationTokenSource.Token);
            NavigationManager.NavigateTo("/MainOrganization");
        }
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/MainOrganization");
    }
}